.process {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: green dotted 2px;

  &__header {
    border: red dotted 1px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-family: "JustAnotherHand-Regular";
        color: #f8ba12;
        font-size: 18px;
        letter-spacing: 3px;
        text-align: center;
      }

      h2 {
        // border: blue 1px dotted;
        font-family: "Jost-Bold";
        color: #272d41;
        font-size: 25px;
        line-height: normal;
      }

      p {
        color: #989fbc;
        font-family: "Jost-Regular";
        font-size: 18px;
      }
    }
  }
}
