.process {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  &__header {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-family: "JustAnotherHand-Regular";
        color: #f8ba12;
        font-size: 18px;
        letter-spacing: 3px;
        text-align: center;
      }

      h2 {
        font-family: "Jost-Bold";
        color: #272d41;
        font-size: 25px;
        line-height: normal;
      }

      p {
        color: #989fbc;
        font-family: "Jost-Regular";
        font-size: 18px;
      }
    }
  }

  &__steps {
    margin-top: 50px;
    position: relative;

    .icon1 {
      position: absolute;
      top: 60%;
      z-index: -1;
    }

    .icon2 {
      position: absolute;
      left: 97%;
      z-index: -1;
    }

    .order {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;

      .choose {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;

        img {
          max-width: 100px;
        }

        span {
          font-family: "Jost-SemiBold";
          font-size: 16px;
          line-height: 40px;
        }

        p {
          font-family: "Jost-Regular";
          font-size: 15px;
          text-align: center;
          word-spacing: normal;
          padding: 0;
          color: #989fbc;
          padding: 0px;
          max-width: 300px;
        }
      }

      .quick {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          max-width: 100px;
        }

        span {
          font-family: "Jost-SemiBold";
          font-size: 16px;
          line-height: 40px;
        }

        p {
          font-family: "Jost-Regular";
          font-size: 15px;
          text-align: center;
          color: #989fbc;
          max-width: 300px;
        }
      }

      .doorstep {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          max-width: 100px;
        }

        span {
          font-family: "Jost-SemiBold";
          font-size: 16px;
          line-height: 40px;
        }

        p {
          font-family: "Jost-Regular";
          font-size: 15px;
          text-align: center;
          color: #989fbc;
          max-width: 300px;
        }
      }

      .arrow {
        color: #989fbc;
        max-width: 50px;
        margin-bottom: 60px;
      }
    }
  }
}
