.header {
  display: flex;
  // max-width: 100%;
  justify-content: space-around;
  align-items: center;
  z-index: -1;
  padding-top: 20px;
  background-color: #ffe3e5;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding: 0;
  }

  &__img {
    z-index: 1;
    width: 555px;

    .left {
      width: 330px;
      height: 402px;

      border-radius: 16px;
      position: absolute;
      background-color: #fcf6f6;
      z-index: -1;
    }

    .right {
      width: 330;
      height: 402px;

      background-color: #c4c4c4;
      border-radius: 16px;
      z-index: 1;
      margin-right: 15px;
      margin-top: 50px;
      margin-left: 200px;
    }
  }

  &__title {
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      color: #272d41;
      font-size: 35px;
      padding: 0;
      line-height: 38px;
      font-family: "JostExtraBold";
    }

    P {
      color: #656d89;
      width: 250px;
      font-size: 15px;
    }
  }
}
