.footer {
  max-width: 100%;
  margin-top: 150px;
  left: 0;
  bottom: 0;
  background-color: #ffe7e8;

  .elipse {
    z-index: -1;
  }

  .new1 {
    z-index: -1;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .retail {
      display: flex;
      gap: 50px;

      .shop {
        .heading {
          font-family: "Jost-Regular";
          color: #3f4767;
          font-size: 20px;
          margin-bottom: 30px;
        }

        .span {
          display: flex;
          flex-direction: column;
          gap: 10px;

          max-width: 100px;
          font-family: "Jost-Regular";
          color: #9097af;
          font-size: 15px;
        }
      }

      .about {
        .heading {
          font-family: "Jost-Regular";
          color: #3f4767;
          font-size: 20px;
          margin-bottom: 30px;
        }

        .span {
          display: flex;
          flex-direction: column;
          gap: 10px;

          max-width: 120px;
          font-family: "Jost-Regular";
          color: #9097af;
          font-size: 15px;
        }
      }
    }

    .subscribe {
      display: flex;
      flex-direction: column;
      align-items: center;

      .header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;

        .small-logo {
          font-size: 24px;

          .name1 {
            color: #383e56;
          }

          .name2 {
            color: #fe5265;
          }
        }

        .trusted {
          font-family: "JustAnotherHand-Regular";
          font-size: 18px;
        }
      }

      input {
        font-family: "Jost-Regular";
        font-size: 15px;
        color: #8a89a1;
        background-color: #fff;
        padding-left: 20px;
        width: 310px;
        height: 55px;
        border: none;
        border-radius: 30px;
        margin-bottom: 15px;
      }

      button {
        background-color: #3f4767;
        font-family: "Jost-SemiBold";
        color: #fff;
        border-radius: 30px;
        border: none;
        width: 210px;
        height: 50px;
        margin-bottom: 50px;
      }

      .copyright {
        font-family: "Jost-Regular";
        color: #979ba9;
        font-size: 13px;
      }
    }

    .find {
      display: flex;
      gap: 100px;

      .contact {
        .heading {
          font-family: "Jost-Regular";
          color: #3f4767;
          font-size: 20px;
          margin-bottom: 30px;
        }

        .span {
          display: flex;
          flex-direction: column;
          gap: 10px;

          max-width: 100px;
          font-family: "Jost-Regular";
          color: #9097af;
          font-size: 15px;
        }
      }

      .socials {
        display: flex;
        flex-direction: column;

        .heading {
          font-family: "Jost-Regular";
          color: #3f4767;
          font-size: 20px;
          margin-bottom: 30px;
        }

        .span {
          display: flex;
          flex-direction: column;
          gap: 10px;
          max-width: 120;
          font-family: "Jost-Regular";
          color: #9097af;
          font-size: 15px;
        }
      }
    }
  }
}
