.socials {
  display: flex;
  justify-content: center;
  align-items: center;

  .logos {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    border: #dbdff0 1px solid;
    border-left: none;
    border-right: none;
    width: 900px;
    height: 120px;
    margin-top: 50px;

    img {
      width: 100px;
      height: 30px;
    }
  }
}
