/* src/styles/fonts.css */

@font-face {
  font-family: "Jost-Regular";
  font-weight: 400;
  src: url("./assets/fonts/jost/Jost-Regular.ttf") format("truetype"); /* Adjust the file path and format accordingly */
  /* Add additional src declarations for other file formats if applicable */
  /* Add font-weight and font-style declarations if needed */
}

@font-face {
  font-family: "Jost-Medium";
  font-weight: 500;
  src: url("./assets/fonts/jost/Jost-Medium.ttf") format("truetype"); /* Adjust the file path and format accordingly */
  /* Add additional src declarations for other file formats if applicable */
  /* Add font-weight and font-style declarations if needed */
}

@font-face {
  font-family: "Jost-SemiBold";
  font-weight: 600;
  src: url("./assets/fonts/jost/Jost-SemiBold.ttf") format("truetype"); /* Adjust the file path and format accordingly */
  /* Add additional src declarations for other file formats if applicable */
  /* Add font-weight and font-style declarations if needed */
}

@font-face {
  font-family: "Jost-Bold";
  font-weight: 700;
  src: url("./assets/fonts/jost/Jost-Bold.ttf") format("truetype"); /* Adjust the file path and format accordingly */
  /* Add additional src declarations for other file formats if applicable */
  /* Add font-weight and font-style declarations if needed */
}

@font-face {
  font-family: "Just-ExtraBold";
  font-weight: 800;
  src: url("./assets/fonts/jost/Jost-ExtraBold.ttf") format("truetype"); /* Adjust the file path and format accordingly */
  /* Add additional src declarations for other file formats if applicable */
  /* Add font-weight and font-style declarations if needed */
}

@font-face {
  font-family: "JustAnotherHand-Regular";
  font-weight: 300;
  src: url("./assets/fonts/JustAnotherHand/JustAnotherHand-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Jost-Italic";
  font-weight: 200;
  src: url("./assets/fonts/jost/Jost-Italic.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;

  font-family: "Jost-SemiBold";

  a {
    font-family: "Jost-Regular";
  }

  h2 {
    font-family: "Jost-ExtraBold";
    padding: 0;
    margin: 0;
    line-height: 0;
  }

  p {
    padding: 0;
    margin: 0;
    font-family: "Jost-Medium";
  }

  .since {
    font-family: "JustAnotherHand-Regular";
  }

  &__button {
    font-family: "Jost-SemiBold";
  }
}
