.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &__logo {
    display: flex;
    justify-content: space-around;
    font-size: 24px;

    .name1 {
      color: #383e56;
    }

    .name2 {
      color: #fe5265;
    }
  }

  &__links {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    text-decoration: none;
    color: #2d355b;
    font-size: 16px;

    .beef {
      display: flex;
      gap: 3px;

      svg {
        width: 16px;
      }
    }

    .chicken {
      display: flex;
      gap: 3px;

      svg {
        width: 16px;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    max-width: 150px;
  }
}
